@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(37.5000 36.3636% 95.6863%);
  --foreground: hsl(0 0% 20%);
  --card: hsl(43.6364 33.3333% 93.5294%);
  --card-foreground: hsl(211.0345 52.7273% 10.7843%);
  --popover: hsl(43.6364 33.3333% 93.5294%);
  --popover-foreground: hsl(211.0345 52.7273% 10.7843%);
  --primary: hsl(211.0345 52.7273% 10.7843%);
  --primary-foreground: hsl(43.6364 33.3333% 93.5294%);
  --secondary: hsl(178.1818 42.8571% 30.1961%);
  --secondary-foreground: hsl(43.6364 33.3333% 93.5294%);
  --muted: hsl(35.6250 29.0909% 78.4314%);
  --muted-foreground: hsl(0 0% 37.2549%);
  --accent: hsl(35.6250 29.0909% 78.4314%);
  --accent-foreground: hsl(0 0% 37.2549%);
  --destructive: hsl(12.4390 87.2340% 36.8627%);
  --destructive-foreground: hsl(43.6364 33.3333% 93.5294%);
  --border: hsl(35.6250 29.0909% 78.4314%);
  --input: hsl(35.2941 24.6377% 86.4706%);
  --ring: hsl(36.0000 66.9291% 50.1961%);
  --chart-1: hsl(36.0000 66.9291% 50.1961%);
  --chart-2: hsl(178.1818 42.8571% 30.1961%);
  --chart-3: hsl(16.1905 77.1429% 48.0392%);
  --chart-4: hsl(16.5217 35.0254% 61.3725%);
  --chart-5: hsl(26.7327 54.5946% 36.2745%);
  --sidebar: hsl(211.0345 52.7273% 10.7843%);
  --sidebar-foreground: hsl(43.6364 33.3333% 93.5294%);
  --sidebar-primary: hsl(36.0000 66.9291% 50.1961%);
  --sidebar-primary-foreground: hsl(211.0345 52.7273% 10.7843%);
  --sidebar-accent: hsl(16.1905 77.1429% 48.0392%);
  --sidebar-accent-foreground: hsl(43.6364 33.3333% 93.5294%);
  --sidebar-border: hsl(35.6250 29.0909% 78.4314%);
  --sidebar-ring: hsl(36.0000 66.9291% 50.1961%);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(220.0000 14.7541% 11.9608%);
  --foreground: hsl(0 0% 89.8039%);
  --card: hsl(197.1429 6.9307% 19.8039%);
  --card-foreground: hsl(0 0% 89.8039%);
  --popover: hsl(197.1429 6.9307% 19.8039%);
  --popover-foreground: hsl(0 0% 89.8039%);
  --primary: hsl(330 100.0000% 80%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(120 60.0000% 50%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(0 0% 26.6667%);
  --muted-foreground: hsl(0 0% 63.9216%);
  --accent: hsl(197.4000 71.4286% 72.5490%);
  --accent-foreground: hsl(0 0% 0%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 26.6667%);
  --input: hsl(0 0% 26.6667%);
  --ring: hsl(330 100.0000% 80%);
  --chart-1: hsl(330 100.0000% 80%);
  --chart-2: hsl(120 60.0000% 50%);
  --chart-3: hsl(197.4000 71.4286% 72.5490%);
  --chart-4: hsl(60 100% 50%);
  --chart-5: hsl(48 100% 50%);
  --sidebar: hsl(220.0000 14.7541% 11.9608%);
  --sidebar-foreground: hsl(0 0% 89.8039%);
  --sidebar-primary: hsl(330 100.0000% 80%);
  --sidebar-primary-foreground: hsl(0 0% 0%);
  --sidebar-accent: hsl(197.4000 71.4286% 72.5490%);
  --sidebar-accent-foreground: hsl(0 0% 0%);
  --sidebar-border: hsl(0 0% 26.6667%);
  --sidebar-ring: hsl(330 100.0000% 80%);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
